# 04-Spam-Classifier

It's time to make our first real Machine Learning application of NLP: a spam classifier!

A spam classifier is a Machine Learning model that classifier texts (email or SMS) into two categories: Spam (1) or legitimate (0).

To do that, we will reuse our knowledge: we will apply preprocessing and BOW (Bag Of Words) on a dataset of texts.
Then we will use a classifier to predict to which class belong a new email/SMS, based on the BOW.

First things first: import the needed libraries.

In [50]:
# Import NLTK and all the needed libraries
import nltk
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

Load now the dataset in *spam.csv* using pandas. Use the 'latin-1' encoding as loading option.

In [60]:
# TODO: Load the dataset 
df = pd.read_csv('spam.csv')
df.head()

  Class                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

As usual, I suggest you to explore a bit this dataset.

In [61]:
# TODO: explore the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5572 non-null   object
 1   Message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

So as you see we have a column containing the labels, and a column containing the text to classify.

We will begin by doing the usual preprocessing: tokenization, punctuation removal and lemmatization.

In [62]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
import re

def get_wordnet_pos(pos_tag):
    output = np.asarray(pos_tag)
    for i in range(len(pos_tag)):
        if pos_tag[i][1].startswith('J'):
            output[i][1] = wordnet.ADJ
        elif pos_tag[i][1].startswith('V'):
            output[i][1] = wordnet.VERB
        elif pos_tag[i][1].startswith('R'):
            output[i][1] = wordnet.ADV
        else:
            output[i][1] = wordnet.NOUN
    return output


df['Message'] = df['Message'].str.replace('[^a-zA-Z0-9 ]', '', regex=True)
df['tokenized_text'] = df['Message'].apply(word_tokenize)
stop_words = stopwords.words('english')
df['tokenized_text'] = df['tokenized_text'].apply(lambda x: [word for word in x if word not in stop_words])
# df['pos_tags'] = df['tokenized_text'].apply(lambda x: pos_tag(x))
# lemmatizer = WordNetLemmatizer()
# df['lematized_words'] = df['pos_tags'].apply(lambda x: [lemmatizer.lemmatize(w, pos) for w, pos in get_wordnet_pos(x)])
print(df['tokenized_text'])

0       [Go, jurong, point, crazy, Available, bugis, n...
1                          [Ok, lar, Joking, wif, u, oni]
2       [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3           [U, dun, say, early, hor, U, c, already, say]
4       [Nah, I, dont, think, goes, usf, lives, around...
                              ...
5567    [This, 2nd, time, tried, 2, contact, u, U, 750...
5568                [Will, b, going, esplanade, fr, home]
5569                     [Pity, mood, Soany, suggestions]
5570    [The, guy, bitching, I, acted, like, id, inter...
5571                              [Rofl, Its, true, name]
Name: tokenized_text, Length: 5572, dtype: object

Ok now we have our preprocessed data. Next step is to do a BOW.

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(stop_words='english')
bow = vectorizer.fit_transform(df['tokenized_text'].apply(' '.join))
feature_names = vectorizer.get_feature_names_out()
print(bow.toarray().shape)

(5572, 9265)

Then make a new dataframe as usual to have a visual idea of the words used and their frequencies.

In [64]:
bow_array = bow.toarray()
bow_df = pd.DataFrame(bow_array, columns=feature_names)
bow_df.head()

,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,0207,02070836089,...,zebra,zed,zeros,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Let's check what is the most used word in the spam category and the non spam category.

There are two steps: first add the class to the BOW dataframe. Second, filter on a class, sum all the values and print the most frequent one.

In [65]:
bow_df['Class'] = df['Class']

spam_df = bow_df[bow_df['Class'] == 'spam']
non_spam_df = bow_df[bow_df['Class'] == 'ham']

sum_spam_words = spam_df.drop(columns='Class').sum(axis=0)
sum_non_spam_words = non_spam_df.drop(columns='Class').sum(axis=0)

most_used_spam_word = sum_spam_words.idxmax()
most_used_non_spam_word = sum_non_spam_words.idxmax()

print("Most used word in the spam category:", most_used_spam_word)
print("Most used word in the non-spam category:", most_used_non_spam_word)

Most used word in the spam category: free
Most used word in the non-spam category: im

You should find that the most frequent spam word is 'free', not so surprising, right?

Now we can make a classifier based on our BOW. We will use a simple logistic regression here for the example.

You're an expert, you know what to do, right? Split the data, train your model, predict and see the performance.

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

X = bow_df.drop(columns='Class')
y = bow_df['Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print(y_pred)
print("Accuracy:", accuracy)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']
Accuracy: 0.9748878923766816

What precision do you get? Check by hand on some samples where it did predict well to check what could go wrong...

Try to use other models and try to improve your results.